<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="static/css/ingresos.css" th:href="@{/css/ingresos.css}">

</head>

<body>
	<div class="encabezado-img">
		<h1>Buscar</h1>
	</div>

	<form th:action="@{/budget/menu/empleado>lista+cliente}" th:method="GET">

		<table>

			<tr>
				<td><label>Apellido:</label></td>
				<td><input type="text" id="apellido" name = "apellido" requiered = "true"></td>
			</tr>

		</table>

		<div style="text-align: center;">
			<td><input type="submit" value="Visualizar"></td>
		</div>

	</form>
	<a class="boton_atras" href="/budget/menu">Atras</a>
</body>

</html>