<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/encabezado.css"th:href="@{/css/encabezado.css}">


</head>
<body>
	<div class="encabezado-img">
        <h1>Retirar vehículo SR</h1>
    </div>
        <table>
            <tr>
                <tr><p>Para ello es necesario que realice una nueva reserva</p></tr>
                <td><h3>¿Usted desea hacer un retiro de vehículo sin reserva?</h3></td>  
            </tr>
            
        </table>
        <div style="text-align: center;">
            <a class= "boton_atras" href="/budget/menu/cliente>bus+vehi">Sí</a>
            <a class= "boton_atras" href="/budget/menu">No</a>
        </div>
        
	<a class= "boton_atras" href="/budget/menu">Atrás</a>
</body>
</html>