<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
	<link rel="stylesheet" href="static/css/encabezado.css" th:href="@{/css/encabezado.css}">

</head>


<body>

	<div class="encabezado-img">
		<h1>Actualizar datos del cliente</h1>
	</div>

	<form th:action="@{/budget/actualizar/{id}(id=${cliente.id})}" th:object="${cliente}" th:method="PUT">

		<table>

			<tr>
				<td><label>Cedula:</label></td>
				<td><input type="text" id="cedula" th:field="${cliente.cedula}"></td>
			</tr>

			<tr>
				<td><label>Nombre:</label></td>

				<td><input type="text" id="nombre" th:field="${cliente.nombre}"></td>
				</td>
			</tr>

			<tr>
				<td><label>Apellido:</label></td>

				<td><input type="text" id="apellido" th:field="${cliente.apellido}"></td>
				</td>
			</tr>

			<tr>
				<td><label>Fecha de Nacimiento:</label></td>

				<td><input type="datetime-local" id="fechaNacimiento" th:field="${cliente.fechaNacimiento}"></td>
				</td>
			</tr>

			<tr>
				<td><label>Genero:</label></td>

				<td><input type="text" id="genero" th:field="${cliente.genero}"></td>

			</tr>

		</table>
	</form>

    
    
    <div class="texto">
        <div class="overlay">
            <div class="popup">
                <div class ="texto-g">
                    <h2>Budget:</h2>
                    <h3>No se pudo Actualizar</h3>
                    <h4>Intente de nuevo</h4>
                    <p>Gracias :b</p>
                </div>
                <a class="boton_atras" href="/budget/menu/empleado>bus+clie">ok</a>
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <td><input type="submit" value="Actualizar"></td>
    </div>
	<a class="boton_atras" href="/budget/menu">Atras</a>
</body>

</html>