<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link rel="stylesheet" href="static/css/estilo_menu.css"th:href="@{/css/estilo_menu.css}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu-h">
                <li>
                    <a href="">Cliente</a>
                    <ul class="menu-v">
                        <li><a href="/budget/menu/cliente>bus+vehi">Buscar vehículos disponibles</a></li>
                        <li><a href="/budget/menu/cliente>registro">Registrarse</a></li>
                        <li><a href="/budget/menu/cliente>actualizar">Actualizar Datos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Empleados</a>
                    <ul class="menu-v">
                        <li><a href="/budget/menu/registrarCliente">Registrar Cliente</a></li>
                        <li><a href="/budget/menu/empleado>bus+clie">Bus/act/eli Cliente</a></li>
                        <li><a href="/budget/menu/empleado>ing+vehi">Ingresar vehículo</a></li>
                        <li><a href="/budget/menu/empleado>bus+vehi">Bus/act/eli vehículo</a></li>
                        <li><a href="/budget/menu/empleado>ret+vehi">Retirar vehículo</a></li>
                        <li><a href="/budget/menu/empleado>ret+vehi=sr">Retirar vehículo (SR)</a></li>                                   
                    </ul>
                </li>
                <li>
                    <a href="">Reportes</a> 
                    <ul class="menu-v">
                        <li><a href="/budget/menu/reporte>reservas">Reservas</a></li>
                        <li><a href="/budget/menu/reporte>clie+vip">Clientes VIP</a></li>
                        <li><a href="/budget/menu/reporte>vehi+vip">Vehículo VIP</a></li>
                    </ul>
                </li>        
            </ul>
        </nav>
    </header>
    <div class="encabezado-img">
        <h2>Rent a Car</h2>
        <h1>Budget</h1>
        <h2>Recorriendo el mundo</h2>
    </div>
</body>
</html>